.Container{

}
.Box{

}
.Box h1{
  text-align: center;
}
.Entries{

}
.Entry {
  position: relative;
  transition: all 1s ease;
}

.Entry:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.1); /* 50% 透明度的蓝色覆盖 */
  pointer-events: none;
}
.Err{
color:red;
}
.Subhead{
  grid-template-columns:1fr 1fr;
  text-align: left;
  margin-bottom: 16px;
}
.Tool{
  display: grid;
  grid-template-columns:1fr 1fr 3fr;
}
.Select{
  width: 150px;
  height: 45px;
 margin-left: 75%;
}
.AnalysisResult{

}
.Underline{
  width: 80%;
}
.Pagination{

}
