
.title {
  background: rgb(121, 167, 242);
}
.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}
.Tab{
    background: rgb(121, 167, 242);
  place-items: center;
  width: 70%;
  height:60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Text{
  width: 50%;
}
.Button{
}

h1{
  color:beige;
}